.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

@media only screen and (max-width: 585px) {
    .buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }

    .betanotice {
        visibility: hidden;
    }
}