.scrollTopButton {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

.scrollTopButton.visible {
    opacity: 1;
    visibility: visible;
}