.title1 {
    background: radial-gradient(67.12% 63.28% at 47.43% 50.00%, #9A4343 0%, #CAA56E 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: dapifer, serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 50px rgba(169, 62, 62, 0.5);
}

.and1 {
    background: #68B7BC;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    line-height: 1.5;
    margin-top: -20px;
    font-family: dapifer, serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 50px rgba(76, 142, 160, 0.5);
}

.and2 {
    background: radial-gradient(67.12% 63.28% at 47.43% 50.00%, #9a5643 0%, #dda148 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    line-height: 1.5;
    margin-top: -20px;
    font-family: dapifer, serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 50px rgba(76, 142, 160, 0.5);
}

.title2 {
    background: radial-gradient(circle at 102.78% 8.96%, #E2B765 0%, #68B7BC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    line-height: 1.5;
    font-family: dapifer, serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0 0 50px rgba(76, 142, 160, 0.5);
}

.grain {
    background: url("../../public/Grain.png");
    background-size: 1000px;
    background-repeat: repeat;
}

.subtitle {
    font-family: dapifer, serif;
    font-style: normal;
}

.main {
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 1000px) {
        padding-left: calc(15px + (345 * ((100vw - 1000px) / 1000)));
        padding-right: calc(15px + (345 * ((100vw - 1000px) / 1000)));
    }
}